<div class="col-md-6 offset-md-3">
  <h3 class="text-center"> Actualizacion de usuarios

  </h3>
  <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
    <div class="form-group">
      <label> Nombre: </label>
      <input type="text"
      class="form-control"
      id="name"
      [(ngModel)]="usuario.name"
      name="name"
      required
      placeholder="Digite su nombre"
      #name="ngModel">
      <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touch)">
        <div *ngIf="name.errors.required">
          Digite su nombre por favor

        </div>

      </div>
    </div>
    <div class="form-group">
      <label> Email: </label>
      <input type="text"
      class="form-control"
      id="email"
      [(ngModel)]="usuario.email"
      name="email"
      required
      pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
      placeholder="Digite su correo electronico"
      #email="ngModel">
      <div class="alert alert-danger" *ngIf= "email.invalid && (email.dirty || apellido.touched)">
        <div *ngIf = "email.errors.required">
          Digite su email por favor
        </div>
        <div *ngIf = "email.errors.pattern">
          Por favor digite el email con el siguiente formato : user100@gmail.com
        </div>
      </div>
    </div>

    <button class="btn btn-success" [disabled]="!usuarioForm.form.valid">Guardar</button>
  </form>

</div>
